#
# Amazon network device configuration
#

config VENDOR_AMAZON
	bool "Amazon Driver Updates"
	default y
	depends on PCI || EXPERIMENTAL
	---help---
	  Amazon Driver Updates are newer versions of some of the drivers
	  present in the stable kernel trees.

if VENDOR_AMAZON

config AMAZON_IXGBEVF
	tristate "Intel(R) 82599 Virtual Function Ethernet support"
	depends on PCI_MSI
	---help---
	  This driver supports Intel(R) 82599 virtual functions.  For more
	  information on how to identify your adapter, go to the Adapter &
	  Driver ID Guide at:

	  <http://support.intel.com/support/network/sb/CS-008441.htm>

	  For general information and support, go to the Intel support
	  website at:

	  <http://support.intel.com>

	  More specific information on configuring the driver is in
	  <file:Documentation/networking/ixgbevf.txt>.

	  To compile this driver as a module, choose M here. The module
	  will be called ixgbevf.  MSI-X interrupt support is required
	  for this driver to work correctly.

config AMAZON_ENA
	tristate "Elastic Network Adapter (ENA) support"
	depends on PCI_MSI
	---help---
	  This driver supports Elastic Network Adapter (ENA)
	  
	  To compile this driver as a module, choose M here.
	  The module will be called ena.

config AMAZON_XEN_BLKDEV_FRONTEND
        tristate "Xen virtual block device support"
        depends on XEN && !XEN_BLKDEV_FRONTEND
        select XEN_XENBUS_FRONTEND
        ---help---
          This driver implements the front-end of the Xen virtual
          block device driver.  It communicates with a back-end driver
          in another domain which drives the actual block device.
	  
	  This driver is separately maintained from drivers/block/xen-blkfront.c
	  and will include our changes which may not available in the upstream.

config AMAZON_XEN_BLKDEV_FRONTEND_MQ_DEFAULT
	bool "blkfront: use blk-mq I/O path by default"
	depends on AMAZON_XEN_BLKDEV_FRONTEND
	default n
	help
	  This option enables the new blk-mq based I/O path for blkfront
	  devices by default. If the option is not set, blkfront defaults
	  to the request based mode.

	  The boot time parameter xen_blkfront.use_blk_mq can be used to
	  change the setting regardless of this option.

config AMAZON_DRM_TTM
	tristate "DRM and TTM support"
	depends on DRM && PCI
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select FW_LOADER
	select DRM_KMS_HELPER
	select DRM_KMS_FB_HELPER
	select DRM_TTM
	select POWER_SUPPLY
	select HWMON
	select BACKLIGHT_CLASS_DEVICE
	select BACKLIGHT_LCD_SUPPORT
	select INTERVAL_TREE
	help
	  This option enables fundamental featuers for out-of-tree GPU drivers.
	  This itself doesn't provide any hardware-specific driver modules.

endif # VENDOR_AMAZON
